<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Secured Section</title>
</head>
<body>

    <h1>Welcome to the Secure Area!</h1>


    User's Name: <span sec:authentication="name"></span>
    <br>
    Roles: <span sec:authentication="principal.authorities"></span>
    <br>
    <br>

    <div sec:authorize="hasRole('ROLE_USER')">
        <ul>
            <li>Go to the <a href="/user" th:href="@{/user}">User secured pages</a></li>
        </ul>
    </div>

    <div sec:authorize="hasRole('ROLE_MANAGER')">
        <ul>
            <li>Go to the <a href="/manager" th:href="@{/manager}">Manager secured pages</a></li>
        </ul>
    </div>


    <div>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout">
        </form>
    </div>


</body>
</html>